<header id="header">
  <nav class="left">
    <a href="#menu"><span>Menu</span></a>
  </nav>
  <a href="index.html" class="logo">Proxym-app</a>
  <nav class="right">
    <a href="#" class="button alt">Log in</a>
  </nav>
</header>
<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li role="presentation"><a routerLink="/home">Home</a></li>
    <li role="presentation"><a routerLink="/profile">Profile</a></li>
    <li role="presentation"><a routerLink="/publications">Publications</a></li>
    <li role="presentation"><a routerLink="/register">Register</a></li>
    <li role="presentation"><a routerLink="/login">login</a></li>


  </ul>
  <ul class="actions vertical">
    <li><a href="#" class="button fit">Login</a></li>
  </ul>
</nav>
