

<!-- Banner -->
  <section id="banner">
    <div class="content">
      <h1>EnjoyWorkingWithProxym</h1>
      <p>Live and work but do not forget to play,<br />to have fun in life and really enjoy it.</p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">Get Started</a></li>
      </ul>
    </div>
  </section>


<!-- One -->
  <section id="one" class="wrapper">
    <h1 class="centered">Latest desitinations:</h1>
    <div class="inner flex flex-3">
      <div class="flex-item left">
        <div>
          <h3>Magna ultricies</h3>
          <p>Morbi in sem quis dui plalorem ipsum<br /> euismod in, pharetra sed ultricies.</p>
        </div>
        <div>
          <h3>Ipsum adipiscing lorem</h3>
          <p>Tristique yonve cursus jam nulla quam<br /> loreipsu gravida adipiscing lorem</p>
        </div>
      </div>
      <div class="flex-item image fit round">
        <img src="assets/images/pic01.jpg" alt="" />
      </div>
      <div class="flex-item right">
        <div>
          <h3>Tempus nullam</h3>
          <p>Sed adipiscing ornare risus. Morbi estes<br /> blandit sit et amet, sagittis magna.</p>
        </div>
        <div>
          <h3>Suscipit nibh dolore</h3>
          <p>Pellentesque egestas sem. Suspendisse<br /> modo ullamcorper feugiat lorem.</p>
        </div>
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper style1 special">
    <div class="inner">
      <h2>Feugiat lorem</h2>
      <figure>
          <blockquote>
              No matter how much pressure you feel at work, if you could find ways to relax for at least five minutes every hour, <br /> you'd be more productive."
          </blockquote>
          <footer>
              <cite class="author">DDr. Joyce Brothers.</cite>
              <cite class="company">CEO, Untitled</cite>
          </footer>
      </figure>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper">
    <h1 class="centered">Recent Publications</h1>
    <div class="inner flex flex-3">
      <div class="flex-item box" *ngFor="let pub of pubs">
        <div class="image fit">
          <img src="http://localhost:3300/{{ pub.imagePath }}" alt="" />
        </div>
        <div class="content">
          <h3>{{pub.title}}</h3>
          <p>{{pub.publication}}</p>
        </div>
      </div>
    </div>
    <h2 class="centered"><a routerLink="/publications">View more</a></h2>
    
  </section>
