<section class="marg">
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="publicatin" ><h2>write a publication: </h2></label>
          <textarea class="form-control" rows="5" id="comment" placeholder="write your publication here!"></textarea>
        </div>
        <button class="btn btn-info button_float" type="submit" name="button">publish</button>
        <h2 class="espaced">view your colleague publications :</h2>
      </div>
    </div>
  </div>
</section>
