<section class="marg">
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="publicatin" ><h2>write a publication: </h2></label>
          <textarea class="form-control"  rows="4" id="box" #box placeholder="write your publication here!" [(ngModel)]="input-pub"></textarea>
        </div>
        <button class="btn btn-info button_float" type="submit" (click)="getVal(box.value)" name="button" >publish</button>
        <hr>
        <h2 class="espaced">view Recent publications :</h2>
        <div class="">
          <p>{{ currentVal }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
