<header class="marg">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/images/113.png" alt="" width="150px" height="150px">
      </div>
      <div class="col-md-6">
      <h1 style="color:black">welcome back "Name"</h1>
      </div>
      <div class="col-md-3">
        <h3 class="text-info">States:</h3>
        <p>number of publications:N</p>
        <p>number of comments: N</p>
        <p></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="publicatin" ><h4>write a publication: </h4></label>
          <textarea class="form-control" rows="5" id="comment" placeholder="write your publication here!"></textarea>
        </div>
        <button class="btn btn-info button_float" type="submit" name="button">publish</button>
      </div>

    </div>
  </div>

</header>
